@model ObtenerEmpleadosViewModel

@{
	ViewData["Title"] = "Lista de Empleados";

}

<h1>@ViewData["Title"]</h1>
<h5>Acontinuacion se muestra la ficha tecnica de todos los empleados de la empresa, con datos relevantes como por ejemplo: Nombre, Cargo y departamento dentro de empresa, email, telefono etc.</h5>
<a asp-action="Crear" class="btn btn-outline-primary btn"><i class="bi bi-cloud-plus"></i> Crear Nuevo</a>

<div class="row justify-content-center justify-content-lg-start mt-3 gap-3">
	@foreach (var empleado in Model.Empleados)
	{
		<div class="card">
			<div class="face front custom-card ">
				<div>
					<img src="~/imagenes/banner.png" alt="banner" class="banner" />
					<img class="icono mb-3 mt-3" src="~/imagenes/IconoPerfil.gif" alt="Icono de usuario" />
					<h6 class="text-center mb-0">Nombre:</h6>
					<h5 class="card-title text-center mb-1">@empleado.Nombre</h5>
					<br />
					<h6 class="text-center mb-0">Cargo:</h6>
					<h5 class="card-title text-center mb-1">@empleado.NombreCargo</h5>
					<h6 class="text-center mb-0">Departamento:</h6>
					<h5 class="card-title text-center mb-1">@empleado.NombreDepartamento</h5>
					<br />
					<h6 class="text-center">Correo:</h6>
					<h5 class="card-subtitle mb-1 text-center">@empleado.Email</h5>
					<h6 class="text-center">Telefono:</h6>
					<h5 class="card-subtitle text-center">@(empleado.Telefono.ToString("0000-0000"))</h5>
				</div>
			</div>

			<div class="face back" >
				<div class="card2" style="border-radius: 16px;">
					<h6 class="text-center">Salario:</h6>
					<h5 class="card-subtitle text-center mb-2">@empleado.Salario $</h5>
					<h6 class="text-center">Estado en la empresa:</h6>
					<h5 class="card-subtitle text-center mb-2">@empleado.Estado</h5>
					<h6 class="text-center">Genero:</h6>
					<h5 class="card-subtitle mb-2 text-center">@empleado.Genero</h5>
					<h6 class="text-center">FechaNacimiento:</h6>
					<h5 class="card-subtitle mb-2 text-center">@empleado.FechaNacimiento.ToString("dd/MM/yyyy")</h5>
					<h6 class="text-center">Fecha de Ingreso a la empresa:</h6>
					<h5 class="card-subtitle text-center mb-2">@empleado.FechaIngreso.ToString("dd/MM/yyyy")</h5>
					<h5 class="card-subtitle text-center mb-2">@empleado.Descripcion</h5>
				</div>

				<p></p>
				<div>
					<div class="row justify-content-center mb-3">
						<input type="hidden" asp-for="@empleado.Id" />
						<a asp-action="Editar" asp-route-id="@empleado.Id" class="btn btn-primary custom-button"><i class="bi bi-pencil-square"></i> Editar</a>
						<p></p>
						<a asp-action="Borrar" asp-route-id="@empleado.Id" class="btn btn-danger custom-button"><i class="bi bi-x-octagon"></i> Borrar</a>

					</div>
				</div>
			</div>

		</div>
	}
</div>
<br />
<br />
<br />
<br />

